/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@font-face {
    font-family:  Roboto, sans-serif;
    src: url(../../Roboto-VariableFont_wdth\,wght.ttf) format('true-type');
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid #3882F6; 
    border-radius: 5px;
}

.header {
    align-items: center;
    padding: 0px 90px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

.links {
    display: flex;
    gap: 30px;
}

.header,
.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.section-one {
    padding: 40px 140px;
}

.section1-lhs {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.section1-rhs {
    color: #E5E7EB;
    background-color: gray;
    padding: 80px;
    width: 600px;
    text-align: center;
}

.s1-words-top {
    font-size: 48px;
    font-weight: 900;
}

.s1-words-bottom {
    font-size: 18px;
    color: #E5E7EB;
}

.section-two {
    color: #1F2937;
    text-align: center;
    padding: 40px;
}

.item {
    max-width: 200px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.section-three {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 140px 300px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 18px;
    justify-content: flex-end;
    font-weight: 700;
    text-align: right;
}

.section-four {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 60px 90px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-around;
}

.s4-words-top {
    font-size: 20px;
    font-weight: 700;
}

.s4-words-bottom {
    font-size: 18px;
}

.s4-button {
    outline-style: solid;
    outline-color: #F9FAF8;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    padding: 4px 30px;
  }

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
    text-align: center;
}
  
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}